--index-url https://mirror.nju.edu.cn/pytorch/whl/cu124
typing_extensions==4.15.0
torch==2.6.0 torchvision==0.21.0
imageio 
imageio-ffmpeg 
tqdm 
easydict 
opencv-python-headless 
ninja 
trimesh 
transformers 
gradio==6.0.1 
tensorboard 
pandas 
lpips 
zstandard 
pillow 
kornia 
timm

git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8#egg=utils3d

https://github.com/PozzettiAndrea/cuda-wheels/releases/download/flash_attn-latest/flash_attn-2.8.3+cu124torch2.6-cp310-cp310-win_amd64.whl

https://github.com/PozzettiAndrea/cuda-wheels/releases/download/nvdiffrast-latest/nvdiffrast-0.4.0+cu124torch2.6-cp310-cp310-win_amd64.whl

git+https://github.com/JeffreyXiang/nvdiffrec.git@renderutils#egg=nvdiffrec_render

https://github.com/PozzettiAndrea/cuda-wheels/releases/download/cumesh-latest/cumesh-0.0.1+cu124torch2.6-cp310-cp310-win_amd64.whl

https://github.com/PozzettiAndrea/cuda-wheels/releases/download/flex_gemm-latest/flex_gemm-1.0.0+cu124torch2.6-cp310-cp310-win_amd64.whl

https://github.com/PozzettiAndrea/cuda-wheels/releases/download/o_voxel-latest/o_voxel-0.0.1+cu124torch2.6-cp310-cp310-win_amd64.whl
